In [1]:
import numpy as np
import pandas as pd
import mysql.connector

In [2]:
#save key from keys.txt
with open('keys.txt') as f:
    lines = f.readlines()
    key = lines[0].strip()

In [3]:
db = mysql.connector.connect(
    host="localhost",
    user="ramsus",
    passwd=key,
    database="pagos"
)

In [4]:
mycursor = db.cursor()

('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('paciente', b'varchar(35)', 'NO', '', None, '')
('valor', b'int', 'NO', '', None, '')
('actividad', b'varchar(35)', 'NO', '', None, '')
('fecha', b'timestamp', 'NO', '', None, '')
('nequi', b'tinyint(1)', 'NO', '', b'0', '')
('datafono', b'tinyint(1)', 'NO', '', b'0', '')
('transferencia', b'tinyint(1)', 'NO', '', b'0', '')
('efectivo', b'tinyint(1)', 'NO', '', b'0', '')
('notas', b'varchar(100)', 'YES', '', None, '')

In [ ]:
def print_sql(query):
    mycursor.execute(query)
    result = mycursor.fetchall()
    for x in result:
        print(x)

In [ ]:
print_sql("DESCRIBE pagos")

In [5]:
# read csv and normaliza rows names
excel = pd.read_csv('pagos.csv', encoding='latin-1', sep=',')
excel.columns = excel.columns.str.replace(' ', '')
del excel['%']
excel.dropna(inplace=True)
# convert Si in True and No in False
excel['Nequi'] = excel['Nequi'].map({'Si': 1, 'No': 0})
excel['Datafono'] = excel['Datafono'].map({'Si': 1, 'No': 0})
excel['Transferencia'] = excel['Transferencia'].map({'Si': 1, 'No': 0})
excel['Efectivo'] = excel['Efectivo'].map({'Si': 1, 'No': 0})
# convert value to number and remove the $ symbol and .
excel['Valor'] = excel['Valor'].str.replace('$', '')
excel['Valor'] = excel['Valor'].str.replace(',', '')
excel['Valor'] = excel['Valor'].str.replace(' ', '')
excel['Valor'] = excel['Valor'].astype(int)
# convert date in format day/month/year to datetime
excel['Fecha'] = pd.to_datetime(excel['Fecha'], format='%d/%m/%Y')

excel.reset_index(drop=True, inplace=True)

excel

/tmp/ipykernel_77031/4012513731.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  excel['Valor'] = excel['Valor'].str.replace('$', '')

,Fecha,Paciente,Valor,Actividad,Nequi,Datafono,Transferencia,Efectivo
0,2023-06-09,Manfry Ariza,60000,Valoracion,0,1,0,0
1,2023-06-09,Nazly Avila,185000,Montaje/retiro,1,0,0,0
2,2023-06-09,Paula Hernandez,25000,Radiografia,0,0,0,1
3,2023-06-09,Kevin Santiago Soto,105000,Control/Reparaciones,0,0,0,1
4,2023-06-09,Laura Cupa,60000,Control,0,1,0,0
...,...,...,...,...,...,...,...,...
134,2023-07-01,Carmen Mojica,50000,Control,0,0,0,1
135,2023-07-01,Carmen Mojica,10000,Control,0,0,1,0
136,2023-07-01,Lizeth Vargas,230000,"Papada, Encimas",0,0,0,1
137,2023-07-01,Maria Paula Correa,100000,Placa Activada,0,1,0,0
138,2023-07-01,Doctora Diana,-595000,Pago Porcentaje,0,0,0,1

In [6]:
# Get dates already on the database
mycursor.execute(
    "SELECT DATE(fecha) AS dia FROM pagos GROUP BY dia ORDER BY dia DESC;")
dates = mycursor.fetchall()
dates = [x[0] for x in dates]

# Insert data of the new dates

for i in range(len(excel)):
    if excel['Fecha'][i].date() not in dates:
        mycursor.execute(
            "INSERT INTO pagos (paciente, valor, actividad, fecha, Nequi, Datafono, Transferencia, Efectivo) \
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s)",
            (excel['Paciente'][i], int(
                excel['Valor'][i]), excel['Actividad'][i], excel['Fecha'][i],
             int(excel['Nequi'][i]), int(excel['Datafono'][i]),
             int(excel['Transferencia'][i]), int(excel['Efectivo'][i])))
        print(mycursor.rowcount, "record inserted.")

InternalError: 1213 (40001): Deadlock found when trying to get lock; try restarting transaction

In [ ]:
# check changes
print_sql("SELECT * FROM pagos WHERE id > 10 AND id < 120")

(1, 'Manfry Ariza', 60000, 'valoracion', datetime.datetime(2023, 6, 9, 0, 0), 0, 1, 0, 0, None)
(2, ' Nazly Avila ', 185000, 'montaje, retiro', datetime.datetime(2023, 6, 9, 0, 0), 1, 0, 0, 0, None)
(3, ' Paula Hernandez ', 25000, 'radiografia', datetime.datetime(2023, 6, 9, 0, 0), 0, 0, 0, 1, None)
(4, ' Kevin Santiago Soto ', 105000, 'control, reparaciones', datetime.datetime(2023, 6, 9, 0, 0), 0, 0, 0, 1, None)
(5, ' Laura Cupa ', 60000, 'control', datetime.datetime(2023, 6, 9, 0, 0), 0, 1, 0, 0, None)
(6, ' Nicole Daniela Benavides ', 300000, 'bichectomia', datetime.datetime(2023, 6, 9, 0, 0), 1, 0, 0, 0, None)
(7, ' Paula Camila Hernandez ', 50000, 'limpieza, braquets', datetime.datetime(2023, 6, 9, 0, 0), 0, 0, 0, 1, None)
(8, ' Paula Camila Hernandez ', 100000, 'limpieza, braquets', datetime.datetime(2023, 6, 9, 0, 0), 1, 0, 0, 0, None)
(9, ' Maria Ines ', 1000000, 'botox, hilos', datetime.datetime(2023, 6, 9, 0, 0), 0, 0, 0, 1, None)
(10, ' Nicol Daniela ', 180000, 'faja', datetime.datetime(2023, 6, 9, 0, 0), 1, 0, 0, 0, None)
(11, ' Katherine Veloza ', 670000, 'lipopapada, bichectomia', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(12, ' Karol Parra ', 170000, 'bichectomia', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(13, ' Karol Parra ', 30000, 'faja', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(14, ' Wilmar MuÃ¯Â¿Â½oz ', 65000, 'control, cauchos', datetime.datetime(2023, 6, 10, 0, 0), 1, 0, 0, 0, None)
(15, ' Cristian Sosa ', 60000, 'control', datetime.datetime(2023, 6, 10, 0, 0), 0, 1, 0, 0, None)
(16, ' Juan Carlos Posada ', 65000, 'control, cauchos', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(17, ' Juan Carlos Posada ', 80000, 'limpieza', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(18, ' Esteban Diaz ', 60000, 'control', datetime.datetime(2023, 6, 10, 0, 0), 1, 0, 0, 0, None)
(19, ' Adriana Diaz ', 60000, 'control', datetime.datetime(2023, 6, 10, 0, 0), 1, 0, 0, 0, None)
(20, ' Sebastian Diaz ', 60000, 'control', datetime.datetime(2023, 6, 10, 0, 0), 1, 0, 0, 0, None)
(21, ' Sebastian Diaz ', 30000, 'reparaciones', datetime.datetime(2023, 6, 10, 0, 0), 1, 0, 0, 0, None)
(22, ' Sandra Moya ', 80000, 'limpieza', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(23, ' Jessica Sierra ', 60000, 'control', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(24, ' Allison MuÃ¯Â¿Â½oz ', 60000, 'control', datetime.datetime(2023, 6, 10, 0, 0), 0, 1, 0, 0, None)
(25, ' Allison MuÃ¯Â¿Â½oz ', 20000, 'reparacion, cauchos', datetime.datetime(2023, 6, 10, 0, 0), 0, 1, 0, 0, None)
(26, ' Heidy Osorio ', 230000, 'hilos', datetime.datetime(2023, 6, 10, 0, 0), 0, 1, 0, 0, None)
(27, ' Aura Yamile ', 780000, 'bichectomia, lipopapada', datetime.datetime(2023, 6, 10, 0, 0), 0, 1, 0, 0, None)
(28, ' Aura Yamile ', 50000, 'faja', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(29, ' Luz Angela ', 150000, 'tratamiento odontologico', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(30, ' CAMBIAR ', 460000, 'hilos', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 1, 0, None)
(31, ' Leidy MuÃ¯Â¿Â½oz ', 60000, 'control', datetime.datetime(2023, 6, 14, 0, 0), 0, 0, 0, 1, None)
(32, ' Javier Arroyo ', 50000, 'limpieza', datetime.datetime(2023, 6, 14, 0, 0), 0, 0, 0, 1, None)
(33, ' Amparo Cardona ', 70000, 'calsa', datetime.datetime(2023, 6, 14, 0, 0), 0, 0, 0, 1, None)
(34, ' Lorena Villamarin ', 150000, 'retenedores', datetime.datetime(2023, 6, 14, 0, 0), 0, 0, 0, 1, None)
(35, ' Kelly CastaÃ¯Â¿Â½o ', 60000, 'control', datetime.datetime(2023, 6, 14, 0, 0), 0, 1, 0, 0, None)
(36, ' Yolima Montero ', 850000, 'bichectomia, lipopapada', datetime.datetime(2023, 6, 14, 0, 0), 0, 1, 0, 0, None)
(37, ' Atenais PeÃ¯Â¿Â½a ', 200000, 'protesis', datetime.datetime(2023, 6, 14, 0, 0), 0, 0, 0, 1, None)
(38, ' Lucia Infante ', 130000, 'limpieza exodoncia', datetime.datetime(2023, 6, 14, 0, 0), 0, 0, 0, 1, None)
(39, ' Jordano gonzalez ', 75000, 'control, reparacion', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 0, 1, None)
(40, ' Marcela Ramirez ', 65000, 'control', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 0, 1, None)
(41, ' Yesica Lugo ', 75000, 'control, reparacion', datetime.datetime(2023, 6, 16, 0, 0), 0, 1, 0, 0, None)
(42, ' Tatiana Upegui ', 60000, 'control', datetime.datetime(2023, 6, 16, 0, 0), 1, 0, 0, 0, None)
(43, ' Jose Ignacio ', 80000, 'limpieza', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 0, 1, None)
(44, ' Jeferson Tarazona ', 56000, 'control', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 1, 0, None)
(45, ' Jeferson Tarazona ', 4000, 'control', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 0, 1, None)
(46, ' Laura Castro ', 60000, 'consulta general', datetime.datetime(2023, 6, 16, 0, 0), 1, 0, 0, 0, None)
(47, ' Guisela Villalba ', 75000, 'control, reparaciones', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 0, 1, None)
(48, ' Wilber Botacha ', 185000, 'control, reparaciones, caucho', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 0, 1, None)
(49, ' Mayerlyn Cubillan ', 60000, 'control', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 0, 1, None)
(50, ' Juan Camilo Narvaes ', 60000, 'control', datetime.datetime(2023, 6, 16, 0, 0), 1, 0, 0, 0, None)
(51, ' Valentina Rozo ', 90000, 'control, reparaciones', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 0, 1, None)
(52, ' Carlos Alberto Barbosa ', 550000, 'lipopapada', datetime.datetime(2023, 6, 16, 0, 0), 0, 1, 0, 0, None)
(53, ' Ingrid Devia ', 60000, 'retenedores', datetime.datetime(2023, 6, 16, 0, 0), 0, 1, 0, 0, None)
(54, ' Ingrid Devia ', 60000, 'retenedores', datetime.datetime(2023, 6, 16, 0, 0), 0, 0, 1, 0, None)
(55, ' Sara Araque ', 60000, 'control', datetime.datetime(2023, 6, 20, 0, 0), 0, 0, 0, 1, None)
(56, ' Jaime Velasques ', 60000, 'control', datetime.datetime(2023, 6, 20, 0, 0), 0, 1, 0, 0, None)
(57, ' Javier Pinzon ', 75000, 'control, reparacion', datetime.datetime(2023, 6, 20, 0, 0), 1, 0, 0, 0, None)
(58, ' Andrea Ortiz ', 60000, 'control', datetime.datetime(2023, 6, 20, 0, 0), 0, 1, 0, 0, None)
(59, ' Wendy Diaz ', 80000, 'control, reparacion, caucho', datetime.datetime(2023, 6, 20, 0, 0), 0, 0, 0, 1, None)
(60, ' Vanesa Silva ', 65000, 'control, cauchos', datetime.datetime(2023, 6, 20, 0, 0), 0, 0, 0, 1, None)
(61, ' Vilma Ester ', 150000, 'limpieza, montaje', datetime.datetime(2023, 6, 20, 0, 0), 0, 0, 0, 1, None)
(62, ' Ana Malagon ', 80000, 'resina', datetime.datetime(2023, 6, 20, 0, 0), 0, 1, 0, 0, None)
(63, ' Ana Malagon ', 65000, 'control, cauchos', datetime.datetime(2023, 6, 20, 0, 0), 0, 1, 0, 0, None)
(64, ' Sandra Ortiz ', 60000, 'control', datetime.datetime(2023, 6, 20, 0, 0), 1, 0, 0, 0, None)
(65, ' Belisario Barrios ', 75000, 'control, reparacion', datetime.datetime(2023, 6, 20, 0, 0), 0, 0, 0, 1, None)
(66, ' Maria Camila Velasquez ', 50000, 'limpieza', datetime.datetime(2023, 6, 22, 0, 0), 0, 0, 0, 1, None)
(67, ' Leimar Diaz ', 30000, '90: deuda', datetime.datetime(2023, 6, 22, 0, 0), 1, 0, 0, 0, None)
(68, ' Maria Camila Velasquez ', 20000, 'kit', datetime.datetime(2023, 6, 22, 0, 0), 1, 0, 0, 0, None)
(69, ' Johana Martinez ', 350000, 'lipopada, faja', datetime.datetime(2023, 6, 23, 0, 0), 0, 0, 0, 1, None)
(70, ' Alejandra Beltran ', 300000, 'bichectomia', datetime.datetime(2023, 6, 23, 0, 0), 0, 1, 0, 0, None)
(71, ' Alejandra Beltran ', 30000, 'faja', datetime.datetime(2023, 6, 23, 0, 0), 0, 1, 0, 0, None)
(72, ' Ramon Gonzales ', 50000, 'limpieza', datetime.datetime(2023, 6, 23, 0, 0), 0, 0, 0, 1, None)
(73, ' Ramon Gonzales ', 70000, 'resina', datetime.datetime(2023, 6, 23, 0, 0), 0, 0, 0, 1, None)
(74, ' Paola PiÃ¯Â¿Â½eros ', 95000, 'control, reparaciones, cauchos', datetime.datetime(2023, 6, 24, 0, 0), 0, 0, 0, 1, None)
(75, ' Jenny Baron ', 60000, 'control', datetime.datetime(2023, 6, 24, 0, 0), 1, 0, 0, 0, None)
(76, ' Atenais PeÃ¯Â¿Â½a ', 200000, 'protesis', datetime.datetime(2023, 6, 24, 0, 0), 0, 0, 0, 1, None)
(77, ' Liliana MuÃ¯Â¿Â½oz ', 500000, 'lipopapada', datetime.datetime(2023, 6, 24, 0, 0), 0, 0, 0, 1, None)
(78, ' Diana Sanabria ', 75000, 'control, reparacion', datetime.datetime(2023, 6, 24, 0, 0), 1, 0, 0, 0, None)
(79, ' Valeria Sarria ', 30000, 'faja', datetime.datetime(2023, 6, 24, 0, 0), 0, 0, 0, 1, None)
(80, ' Valeria Sarria ', 300000, 'bichectomia', datetime.datetime(2023, 6, 24, 0, 0), 0, 0, 1, 0, None)
(81, ' Sofia Castro ', 100000, 'extraccion', datetime.datetime(2023, 6, 26, 0, 0), 0, 0, 0, 1, None)
(82, ' Angelly Rodriguez ', 75000, 'control, reparacion', datetime.datetime(2023, 6, 26, 0, 0), 0, 0, 0, 1, None)
(83, ' Leidy Rubio ', 20000, 'kit', datetime.datetime(2023, 6, 26, 0, 0), 0, 0, 0, 1, None)
(84, ' Jenifer Sanpoyo ', 300000, 'bichectomia', datetime.datetime(2023, 6, 26, 0, 0), 0, 0, 0, 1, None)
(85, ' Jenifer Sanpoyo ', 30000, 'faja', datetime.datetime(2023, 6, 26, 0, 0), 0, 0, 0, 1, None)
(86, ' Jeronimo Gonzales ', 60000, 'control', datetime.datetime(2023, 6, 26, 0, 0), 0, 0, 0, 1, None)
(87, ' Jeronimo Gonzales ', 100000, 'extracciones', datetime.datetime(2023, 6, 26, 0, 0), 0, 0, 0, 1, None)
(88, ' Juan Camilo Hernandes ', 80000, 'limpieza', datetime.datetime(2023, 6, 26, 0, 0), 0, 1, 0, 0, None)
(89, ' Juan Camilo Hernandes ', 25000, 'radiografia', datetime.datetime(2023, 6, 26, 0, 0), 0, 1, 0, 0, None)
(90, ' Laura Alonso ', 25000, 'radiografia', datetime.datetime(2023, 6, 26, 0, 0), 0, 1, 0, 0, None)
(91, ' Sofia Bautista ', 60000, 'control', datetime.datetime(2023, 6, 27, 0, 0), 0, 0, 0, 1, None)
(92, ' Sebgtra Galub ', 60000, 'control', datetime.datetime(2023, 6, 27, 0, 0), 0, 0, 0, 1, None)
(93, ' Wilmer Yepes ', 175000, 'control, exodoncia', datetime.datetime(2023, 6, 27, 0, 0), 1, 0, 0, 0, None)
(94, ' Jimmy Vanegas ', 75000, 'control, reparaciones', datetime.datetime(2023, 6, 27, 0, 0), 0, 0, 0, 1, None)
(95, ' Julio Cesar Gonzales ', 90000, 'control, reparaciones', datetime.datetime(2023, 6, 28, 0, 0), 0, 1, 0, 0, None)
(96, ' Angie Garcia ', 50000, 'limpieza', datetime.datetime(2023, 6, 28, 0, 0), 0, 0, 0, 1, None)
(97, 'Karol Funeque', 90000, 'control, reparaciones', datetime.datetime(2023, 6, 28, 22, 41, 28), 0, 0, 0, 1, None)
(98, ' Kevin Nocove ', 90000, 'control, reparaciones', datetime.datetime(2023, 6, 29, 0, 0), 0, 0, 0, 1, None)
(99, ' Jeffry Garcia ', 60000, 'control', datetime.datetime(2023, 6, 29, 0, 0), 0, 0, 0, 1, None)
(100, ' Magaly Meneses ', 80000, 'control, reparacion, caucho', datetime.datetime(2023, 6, 29, 0, 0), 0, 0, 0, 1, None)
(101, ' Lina Maria Villa ', 550000, 'lipopapada', datetime.datetime(2023, 6, 30, 0, 0), 1, 0, 0, 0, None)
(102, ' Carol Barragan ', 60000, 'control', datetime.datetime(2023, 6, 30, 0, 0), 0, 0, 0, 1, None)
(103, ' Lizeth Vargas ', 300000, 'bichectomia', datetime.datetime(2023, 6, 30, 0, 0), 0, 0, 0, 1, None)
(104, ' Lizeth Vargas ', 30000, 'faja', datetime.datetime(2023, 6, 30, 0, 0), 0, 0, 0, 1, None)
(105, ' Atenais PeÃ±a ', 800000, 'protesis', datetime.datetime(2023, 6, 30, 0, 0), 0, 0, 0, 1, None)
(106, ' Julieth Espinosa ', 250000, 'lipopapada', datetime.datetime(2023, 6, 30, 0, 0), 0, 0, 0, 1, None)
(107, ' Julieth Espinosa ', 270000, 'lipopapada', datetime.datetime(2023, 6, 30, 0, 0), 0, 1, 0, 0, None)
(108, ' Julieth Espinosa ', 30000, 'faja', datetime.datetime(2023, 6, 30, 0, 0), 0, 1, 0, 0, None)
(109, ' Juan Camilo Hernandes ', 280000, 'resinas', datetime.datetime(2023, 6, 30, 0, 0), 0, 1, 0, 0, None)
(110, ' Heidy Ruiz ', 460000, 'retenedores', datetime.datetime(2023, 6, 30, 0, 0), 1, 0, 0, 0, None)
(111, ' Marcela Guzman ', 60000, 'control', datetime.datetime(2023, 7, 1, 0, 0), 1, 0, 0, 0, None)
(112, ' Alejandra Perez ', 90000, 'control, reparaciones', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(113, ' Anderson Lopez ', 60000, 'control', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(114, ' Valentina Serroa ', 60000, 'control', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(115, ' Karen Yulieth ', 60000, 'control', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(116, ' Daniela Sanabria ', 75000, 'control, reparaciones', datetime.datetime(2023, 7, 1, 0, 0), 1, 0, 0, 0, None)
(117, ' Dylan Avila ', 40000, 'control', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(118, ' Maria Camila Hernandes ', 75000, 'control, reparaciones', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(119, ' Jaimy Osorio ', 410000, 'hilos, retenedor', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(120, ' Jenifer Flores ', 60000, 'control', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(121, ' Ricardo Gonzales ', 75000, 'control, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 1, 0, 0, 0, None)
(122, ' Dariana Reyes  ', 40000, 'control', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(123, ' Cristian Barbosa ', 70000, 'control, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(124, ' Paula Mancera ', 70000, 'control, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 1, 0, 0, 0, None)
(125, ' Karen Urrego ', 75000, 'control, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(126, ' Saray Barreto ', 105000, 'control, reparaciones', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(127, ' Camilo Zarate ', 75000, 'control, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 1, 0, 0, 0, None)
(128, ' Diego Bustos ', 65000, 'control, cauchos', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(129, ' Miguel Vargas ', 195000, 'controles, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(130, ' Sara Lozano ', 90000, 'control, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(131, ' Daniel Pachon ', 75000, 'control, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(132, ' Valentina Forero ', 75000, 'control, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(133, ' Natalia Collados ', 75000, 'control, reparacion', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(134, ' Natalia Collados ', 25000, 'radiografia', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(135, ' Carmen Mojica ', 50000, 'control', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(136, ' Carmen Mojica ', 10000, 'control', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 1, 0, None)
(137, ' Lizeth Vargas ', 230000, 'papada, encimas', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(138, ' Maria Paula Correa ', 100000, 'placa activada', datetime.datetime(2023, 7, 1, 0, 0), 0, 1, 0, 0, None)
(139, ' Doctora Diana ', -595000, 'pago porcentaje', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)

In [ ]:
# Consultar los valores Ãºnicos de la columna de categorÃ­as en la base de datos
mycursor.execute("SELECT DISTINCT actividad FROM pagos")
result = mycursor.fetchall()


# FunciÃ³n para normalizar una categorÃ­a
def normalizar_categoria(categoria):
    categoria = categoria.replace("control caucho", "control, cauchos")
    return categoria

# Actualizar las categorÃ­as en la base de datos
for row in result:
    categoria = row[0]
    categoria_normalizada = normalizar_categoria(categoria)
    update_query = "UPDATE pagos SET actividad = %s WHERE actividad = %s"
    mycursor.execute(update_query, (categoria_normalizada, categoria))

In [ ]:
# Consultar las actividades que contienen "bichectomia" y "lipopapada" en el nombre
select_query = "SELECT * FROM pagos WHERE actividad LIKE '%bichectomia%' AND actividad LIKE '%lipopapada%'"
mycursor.execute(select_query)
result = mycursor.fetchall()

# Dividir las actividades y crear nuevos registros
for row in result:
    paciente = row[1]
    valor = row[2]
    actividad = row[3]
    fecha = row[4]
    nequi = row[5]
    datafono = row[6]
    transferencia = row[7]
    efectivo = row[8]
    print(paciente, valor, actividad, fecha, nequi, datafono, transferencia, efectivo)
    
    if "bichectomia" in actividad and "lipopapada" in actividad:
        bichectomia_value = 300000
        lipopapada_value = int(valor) - bichectomia_value
        
        # Crear un nuevo registro para "bichectomia"
        insert_query_bichectomia = "INSERT INTO pagos (paciente, fecha, nequi, datafono, transferencia, efectivo, actividad, valor) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
        mycursor.execute(insert_query_bichectomia, (paciente, fecha, nequi, datafono, transferencia, efectivo, "bichectomia", bichectomia_value))
        
        # Crear un nuevo registro para "lipopapada"
        insert_query_lipopapada = "INSERT INTO pagos (paciente, fecha, nequi, datafono, transferencia, efectivo, actividad, valor) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
        mycursor.execute(insert_query_lipopapada, (paciente, fecha, nequi, datafono, transferencia, efectivo, "lipopapada", lipopapada_value))

        # delete old record
        delete_query = "DELETE FROM pagos WHERE paciente = %s AND fecha = %s AND actividad = %s AND valor = %s"
        mycursor.execute(delete_query, (paciente, fecha, actividad, valor))

 Katherine Veloza  670000 lipopapada, bichectomia 2023-06-10 00:00:00 0 0 0 1
 Aura Yamile  780000 bichectomia, lipopapada 2023-06-10 00:00:00 0 1 0 0
 Yolima Montero  850000 bichectomia, lipopapada 2023-06-14 00:00:00 0 1 0 0

In [7]:
print_sql("SELECT DISTINCT actividad FROM pagos")

In [ ]:
# check changes
print_sql("SELECT * FROM pagos WHERE id > 138")

(139, ' Doctora Diana ', -595000, 'pago porcentaje', datetime.datetime(2023, 7, 1, 0, 0), 0, 0, 0, 1, None)
(158, ' Katherine Veloza ', 300000, 'bichectomia', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(159, ' Katherine Veloza ', 370000, 'lipopapada', datetime.datetime(2023, 6, 10, 0, 0), 0, 0, 0, 1, None)
(160, ' Aura Yamile ', 300000, 'bichectomia', datetime.datetime(2023, 6, 10, 0, 0), 0, 1, 0, 0, None)
(161, ' Aura Yamile ', 480000, 'lipopapada', datetime.datetime(2023, 6, 10, 0, 0), 0, 1, 0, 0, None)
(162, ' Yolima Montero ', 300000, 'bichectomia', datetime.datetime(2023, 6, 14, 0, 0), 0, 1, 0, 0, None)
(163, ' Yolima Montero ', 550000, 'lipopapada', datetime.datetime(2023, 6, 14, 0, 0), 0, 1, 0, 0, None)

In [ ]:
# close connection
db.commit()
db.close()